:root {
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-40: 10rem;
  --spacing-64: 16rem;
  --spacing-80: 20rem;

  --space-0: var(--spacing-0);
  --space-1: var(--spacing-1);
  --space-2: var(--spacing-2);
  --space-3: var(--spacing-3);
  --space-4: var(--spacing-4);
  --space-5: var(--spacing-5);
  --space-6: var(--spacing-6);
  --space-7: var(--spacing-7);
  --space-8: var(--spacing-8);
  --space-10: var(--spacing-10);
  --space-12: var(--spacing-12);
  --space-16: var(--spacing-16);
  --space-20: var(--spacing-20);
  --space-40: var(--spacing-40);
  --space-64: var(--spacing-64);
  --space-80: var(--spacing-80);

  --size-0: var(--spacing-0);
  --size-1: var(--spacing-1);
  --size-2: var(--spacing-2);
  --size-3: var(--spacing-3);
  --size-4: var(--spacing-4);
  --size-5: var(--spacing-5);
  --size-6: var(--spacing-6);
  --size-7: var(--spacing-7);
  --size-8: var(--spacing-8);
  --size-10: var(--spacing-10);
  --size-12: var(--spacing-12);
  --size-16: var(--spacing-16);
  --size-20: var(--spacing-20);
  --size-40: var(--spacing-40);
  --size-64: var(--spacing-64);
  --size-80: var(--spacing-80);

  --z-index-1: 100;
  --z-index-2: 200;
  --z-index-3: 300;
  --z-index-4: 400;
  --z-index-max: 999;
}

.m-0 {
  margin: var(--space-0);
}
.m-1 {
  margin: var(--space-1);
}
.m-2 {
  margin: var(--space-2);
}
.m-3 {
  margin: var(--space-3);
}
.m-4 {
  margin: var(--space-4);
}
.m-5 {
  margin: var(--space-5);
}
.m-6 {
  margin: var(--space-6);
}
.m-7 {
  margin: var(--space-7);
}
.m-8 {
  margin: var(--space-8);
}
.m-10 {
  margin: var(--space-10);
}
.m-12 {
  margin: var(--space-12);
}
.m-16 {
  margin: var(--space-16);
}
.m-20 {
  margin: var(--space-20);
}
.m-40 {
  margin: var(--space-40);
}
.m-64 {
  margin: var(--space-64);
}
.m-80 {
  margin: var(--space-80);
}

.p-0 {
  padding: var(--space-0);
}
.p-1 {
  padding: var(--space-1);
}
.p-2 {
  padding: var(--space-2);
}
.p-3 {
  padding: var(--space-3);
}
.p-4 {
  padding: var(--space-4);
}
.p-5 {
  padding: var(--space-5);
}
.p-6 {
  padding: var(--space-6);
}
.p-7 {
  padding: var(--space-7);
}
.p-8 {
  padding: var(--space-8);
}
.p-10 {
  padding: var(--space-10);
}
.p-12 {
  padding: var(--space-12);
}
.p-16 {
  padding: var(--space-16);
}
.p-20 {
  padding: var(--space-20);
}
.p-40 {
  padding: var(--space-40);
}
.p-64 {
  padding: var(--space-64);
}
.p-80 {
  padding: var(--space-80);
}